* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.heading{
   color: red; 
   text-align: center;
   text-decoration: underline;
}
#box{
    background-color: blue;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    color: #050505f8;
    background-color: rgb(13, 238, 32); 
}

body{
    background-color: rgb(213, 240, 247);
}
a{
    text-decoration: none;
}

#one{
    font-size: 25px;
}
#three{
    font-size: 12px;
}
.text-design{
    line-height: normal;
    text-transform: uppercase;
}
h5{
    text-align: center;
    text-transform: capitalize;
}
#outer{
    font-size: 25px;
}

#inner{
    font-size: 10px;
}