* {
    padding: 0;
    margin: 0;
    
}
.hero {
    height: 100px;
    width: 300px;
    background-color: pink;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-radius: 10px;
    /* padding-left: 25px;
    padding-right: 25px; */
    padding: 20px; 
    /* padding: 1px 2px 3px 4px; */
    margin: 20px;
    /* margin: 1px 2px 3px 4px; */
}

h1 {
    width: 200px;
    height: 50px;
    background-color:aqua;
    border: 3px dashed black;
    text-align: center;
    border-radius: 50%; /* its shape is circle */
}



.container {
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}

#box1 {
    background-color: rgba(255,0,0,0.50);
}
#box2 {
    background-color: rgba(255,0,0,0.75);
}
#box3 {
    background-color: rgba(255,0,0,1)
}